.header {
  background-image: none;
}

.featured__tags-container {
  position: relative;
  top: 0;
}

.featured__tags {
  list-style: none;
  justify-content: space-between;
  font-size: 1.35em;
  margin: 0.65em 0;
}

.featured__tags-item {
  margin: 0;
}

.featured__tags-item:nth-child(1) {
  margin: 0;
  color: #6ac16c;
  font-weight: bold;
}

.year::after {
  background: #686868;
  content: "R";
  margin-left: 5px;
  padding: 5px;
  border-radius: 3px;
}

.time::after {
  content: "HD";
  border: 1px solid #686868;
  margin-left: 5px;
  padding: 3px 5px;
}

.movie__details {
  padding: 0 0.5em;
  margin-top: 0.5em;
}

.featured__buttons-container {
  margin-bottom: 0.75em;
}
.movie-buttons.featured__buttons-container {
  flex-direction: column;
}

.play {
  justify-content: center;
  height: 45px;
  margin-bottom: 0.8em;
}

.movie .download {
  background: #2b2b2b;
  flex-direction: initial;
  justify-content: center;
  font-weight: bold;
  height: 45px;
}

.movie .download:active {
  border-style: inset;
}

.download:hover::after {
  display: none;
}

.movie__details-text {
  margin-bottom: 1em;
  text-align: justify;
}

.cast,
.director {
  font-size: 0.8em;
  color: #686868;
}

.my-list::before {
  background: url(../images/icons/plus.svg);
}

.qualify::before {
  background: url(../images/icons/like.svg);
}

.share::before {
  background: url(../images/icons/email-send.svg);
}

.movies::before {
  content: "";
  background: #d22f26;
  position: absolute;
  height: 5px;
  top: -15px;
  width: 140px;
}

.movies {
  position: relative;
}

@media screen and (min-width: 900px) {
  .video-container {
    display: flex;
    justify-content: center;
  }

  .header img {
    width: 45px;
  }
}
