* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: Netflix;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Netflix;
  src: url(/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Netflix;
  src: url(/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

body {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

.header {
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #000 0%,
    #000 80%,
    transparent 100%
  );
  display: grid;
  color: #fff;
  padding: 1em 1em 0.5em;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  max-width: 460px;
  z-index: 2;
}

.header__logo {
  grid-column: span 2;
}

.header__nav-container {
  grid-column: span 2;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__nav li {
  list-style: none;
  margin: 0 0.5em;
}

.featured {
  position: relative;
  top: -30px;
}

.featured__video {
  max-width: 450px;
  margin: 0 5px;
}

.featured__tags-container {
  position: relative;
  top: -1.95em;
}

.featured__tags {
  display: flex;
  justify-content: center;
}

.featured__tags-item {
  font-size: 0.65em;
  margin-left: 1.8em;
}

.featured__tags-item:nth-child(1) {
  list-style: none;
}

.featured__buttons-container {
  display: flex;
  justify-content: space-around;
}

.button-primary {
  align-items: center;
  display: flex;
  padding: 0 1em;
}

.button-primary::before {
  background: url(../images/icons/play.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

.button-secondary {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 0.75em;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button-secondary::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.plus::before {
  background: url(../images/icons/plus.svg);
}

.info::before {
  background: url(../images/icons/info.svg);
}
